version: "3"
services:
  gateway:
    image: avenga/couper:edge
    container_name: gateway
    ports:
      - 8080:8080
    volumes:
      - .:/conf
      #- ./conf.new:/conf
    environment:
      COUPER_WATCH: "true"
      COUPER_LOG_LEVEL: debug
      #COUPER_ENVIRONMENT: "devel" # "devel", "test" or "prod"
