version: "3"
services:
  couper:
    image: avenga/couper
    container_name: couper
    ports:
      - 8080:8080
    volumes:
      - ./couper:/conf
    environment:
      SP_ENTITY_ID: the_sp_entity_id
  idp:
    image: kristophjunge/test-saml-idp
    container_name: idp
    ports:
      - 8083:8080
    environment:
      SIMPLESAMLPHP_SP_ENTITY_ID: the_sp_entity_id
      SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE: http://localhost:8080/saml/acs
