version: "3"
services:
  gateway:
    image: coupergateway/couper
    container_name: gateway
    ports:
      - 8080:8080
    depends_on:
      - backend
    volumes:
      - .:/conf
    environment:
      COUPER_WATCH: "true"
  backend:
    image: coupergateway/couper
    container_name: backend
    volumes:
      - ./backend:/conf
    environment:
      COUPER_WATCH: "true"
