name: 'test configurations'

on:
  push:
    branches: [ master ]
  pull_request:
  pull_request_review:
    types: [ submitted ]

jobs:
  latest:
    uses: avenga/couper-examples/.github/workflows/verify.yml@master
    if: github.event_name == 'push' || github.event_name == 'pull_request_review'
    with:
      image-tag: 'latest'
  edge:
    uses: avenga/couper-examples/.github/workflows/verify.yml@master
    if: github.event_name == 'pull_request' || github.event_name == 'pull_request_review'
    with:
      image-tag: 'edge'
