name: 'test configurations'

on:
  push:
    branches: [ master ]
  pull_request:
  pull_request_review:
  schedule:
    - cron: '0 9 * * 1-5' # mo-fr

jobs:
  latest:
    uses: coupergateway/couper-examples/.github/workflows/verify.yaml@master
    if: github.event_name != 'pull_request' || github.event.review.state == 'approved'
    with:
      image-tag: 'latest'
  edge:
    uses: coupergateway/couper-examples/.github/workflows/verify.yaml@master
    if: github.event_name != 'push' || github.event.review.state == 'approved'
    with:
      image-tag: 'edge'
