name: 'verify'

on:
  workflow_call:
    inputs:
      image-tag:
        type: string
        required: true

jobs:
  docker:
    name: 'couper-verify'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: 'setup docker'
        uses: docker-practice/actions-setup-docker@1.0.8
      - name: 'verify with avenga/couper:${{ inputs.image-tag }}'
        id: verify
        run: |
          docker version
          docker pull avenga/couper:${{ inputs.image-tag }}
          docker run avenga/couper:${{ inputs.image-tag }} version
          for d in $(find . -type f -name \*.hcl -exec dirname {} \;); do echo ${d:1} && docker run --rm -v "$(pwd)":/examples avenga/couper:${{ inputs.image-tag }} verify -d /examples/${d:1}; if [[ "$?" -ne 0 ]]; then echo "::error directory=${d:1}::verification failed" && exit 1; fi; done
